* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 500;
  font-family: var(--fontePadrao);

  /* border: 1px solid black; */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;

  border-radius: 10px;
}

:root {
  --corPadrao: #757aa0;
  --corPadraoEscurecida: #51596a;
  --corBordaApagada: #989eca3d;
  --corRosaAnalistas: #88619a;
  --corVerdeDiplomatas: #33a474;
  --corCianoSentinelas: #4798b4;
  --corLarnjaExploradores: #e4ae3a;

  --fontePadrao: "Open Sans", sans-serif;
  --fonteAlternativa: "Young Serif", serif;
}

/* HEADER */

header {
  background-color: white;

  width: 100%;
  height: 90px;

  border-bottom: 1px solid var(--corBordaApagada);

  position: sticky;
  top: 0;

  transition: all .3s ease;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  z-index: 1;
}

nav {
  background-color: transparent;

  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  gap: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImgLogo {
  background-color: transparent;

  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: start;
}

.imgLogo {
  width: 260px;

  cursor: pointer;
}

nav > a {
  text-decoration: none;

  position: relative;

  height: 100%;

  display: flex;
  align-items: center;

  transition: all 0.3s ease;
}

nav > a > span {
  color: var(--corPadrao);
  font-size: 18px;
}

nav > a:hover > span {
  color: var(--corPadraoEscurecida);
}

nav > a::after {
  content: "";

  background-color: var(--corPadrao);

  width: 100%;
  height: 4px;

  display: none;

  position: absolute;
  top: 0;
}

nav > .paginaInativa:hover::after {
  display: block;

  animation: bordaAparecer 0.3s ease;
}

.containerBotaoLinguagem {
  background-color: transparent;

  padding: 0 30px;

  display: grid;
  place-items: center;
}

.botaoLinguagem {
  border: none;

  background-color: white;

  width: 140px;
  height: 50px;

  gap: 10px;

  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

.bandeiraBotao {
  width: 20px;
}

.botaoLinguagem:hover {
  background-color: #f5f5f5;
}

.botaoLinguagem > span {
  color: var(--corPadrao);
  font-size: 18px;
}

.headerOffBorder {
  border: none;
}

.paginaAtiva > span {
  color: var(--corPadraoEscurecida);
}

.paginaAtiva::after {
  content: "";

  background-color: var(--corPadrao);

  width: 100%;
  height: 4px;

  display: block;

  position: absolute;
  top: 0;
}

@keyframes bordaAparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MAIN */

main {
  background-color: white;

  width: 100%;
  min-height: 95vh;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainIndex {
  background-color: #4298b4;
}

#mainTipos {
  padding: 0 0 20px 0;
}

#backgroundMontains {
  position: absolute;
  bottom: 0;
}

#articleIndex {
  background-color: transparent;

  margin: 120px 0 0;

  color: white;

  gap: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;

  cursor: default;
}

#articleIndex > h1 {
  font-size: 39px;
}

#articleIndex > p {
  width: 630px;

  text-align: center;

  font-size: 20px;
}

#articleIndex > button {
  background-color: #88619a;

  width: 260px;
  height: 80px;

  border: none;
  border-radius: 60px;

  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  transition: all 0.3s ease;
  z-index: 1;
}

#containerTextoSeta {
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

#articleIndex > button > div > span {
  color: white;
  font-size: 20px;
}

#articleIndex > button > div > i {
  color: white;
  font-size: 30px;
}

#articleIndex > button:hover {
  background-color: #5f446b;
}

#articleIndex > button:hover i {
  animation: mexerSeta 0.5s ease;
}

@keyframes mexerSeta {
  0% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(7px);
  }

  100% {
    transform: translateX(0);
  }
}

#sectionTipos {
  background-color: transparent;

  width: 100%;
  height: 122px;

  margin: 55px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#sectionTipos > h1 {
  color: var(--corPadraoEscurecida);

  font-size: 64px;
}

.classificacaoTipos {
  color: white;

  cursor: default;

  font-size: 152px;
}

.elementoLigacao {
  width: 100%;
}

.grupoPersonalidades {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#grupoAnalistas {
  background-color: #e7dfea;
}

#grupoDiplomatas {
  background-color: #d6ece3;
}

#grupoSentinelas {
  background-color: #d9eaf0;
}

#grupoExploradores {
  background-color: #f9eed7;
}

.quartetoPersonalidades {
  background-color: transparent;

  width: 100%;
  height: 420px;

  position: relative;
}

.containerImgQuarteto {
  width: 100%;

  padding: 0 20px;

  position: absolute;
  bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconPersonalidades {
  width: 250px;

  cursor: pointer;
}

.containerPersonalidade {
  background-color: transparent;

  height: 450px;

  transition: .1s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.containerPersonalidade:hover {
  transform: translateY(-20px);
}

.containerInformacoesPersonalidade {
  background-color: transparent;

  height: 200px;
}

.tituloPersonalidade {
  font-size: 25px;
  font-weight: 600;
}

.analistas {
  color: var(--corRosaAnalistas);
}

.diplomatas {
  color: var(--corVerdeDiplomatas);
}

.sentinelas {
  color: var(--corCianoSentinelas);
}

.exploradores {
  color: var(--corLarnjaExploradores);
}

.subtituloPersonalidade {
  color: var(--corPadraoEscurecida);

  font-size: 16px;
}

.containerTituloSubtituloPersonalidade {
  margin: 20px 0 ;
  gap: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.explicacaoPersonalidade {
  width: 280px;

  line-height: 30px;

  text-align: center;

  color: #7f7f89c9;
  font-size: 16px;
}

/* FOOTER */

footer {
  background-color: white;

  border-top: 1px solid var(--corBordaApagada);

  display: flex;
  align-items: center;
  flex-direction: column;
}

footer > div {
  margin: 10px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

footer > div > p {
  color: var(--corPadraoEscurecida);

  font-size: 0.8em;
}

#dataDesenvolvimento {
  margin: 5px 0 0;


  color: var(--corPadrao);
  font-family: var(--fonteAlternativa);
}

a > button {
  background-color: transparent;

  margin: 0 0 10px;

  width: 50px;
  height: 50px;

  border: 1px solid var(--corBordaApagada);
  border-radius: 50%;

  transition: all 0.3s ease;
  cursor: pointer;
}

a > button:hover {
  border: 1px solid var(--corPadraoEscurecida);
}

a > button > img {
  width: 25px;
  height: 25px;

  filter: grayscale(100%);

  transform: translateY(1px);
}

a > button > img:hover {
  filter: grayscale(0);
}
